    {% extends 'base.html' %}
    {% load static %}
    
    {% block title %}about{% endblock %}

    {% block content %}


  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container-fluid">
      <div class="box">
        <div class="img-box">
          <img src="{% static 'images/about-img.jpg' %}" alt="" />
        </div>
        <div class="detail-box">
          <h2>
            About Us
          </h2>
          <p>
            anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internetanything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internetanything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat
          </p>
          <a href="">
            <span>
              Read More
            </span>
            <hr />
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  {% endblock %}